// imports

// variables

// -colors
:root {
  --backgroundColorBlue: #3b8ea5;
  --textColor: #f2e2d2;
  --backgroundColorYes: #317e94;
  --backgroundColorYass: #226d82;
  --backgroundColorDark: #1b5b6c;
  --backgroundColorYar: #195d70;
  --backgroundColorFooter: #0e3641;
  --backgroundColorGrey: #efefef;

  --landingSectionHeight: 800px;
  --globalMargin: 40px;
  --cartDetailPadding: 12px;
  --productButtonSize: 50px;
  --wideModeMargin: 80px;

  --linkHoverColor: #ed6a5a;
}
// -values
// Background Elements

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColorBlue);
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

.bodyWrap {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

form {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

header {
  margin: 40px;
  z-index: 3;
}

.landingSection {
  width: 100%;
  height: var(--landingSectionHeight);
  color: var(--backgroundColorDark);
  margin-bottom: 8px;
}

.landingYesHoney {
  background-color: var(--backgroundColorYes);
  background-image: url('/images/yesHoney.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  max-height: 700px;
  max-width: 100%;
  overflow: hidden;
  background-position: center;
}

.landingYesChillax {
  background-image: url('/images/yesChillax.jpg');
}

.landingYesRave {
  background-image: url('/images/yesRave.jpg');
}
.content {
  flex: 1;
}

// Middleground Elements

.structureFlex {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.halfFlex {
  display: flex;
  width: 50%;
  height: 12px;
  background-color: var(--textColor);
}
.halfFlexDark {
  display: flex;
  width: 50%;
  height: 12px;
  background-color: var(--backgroundColorYes);
}

.widthEighty {
  width: 80%;
}

.listFlex {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listFlexItem {
  border: 1px var(--backgroundColorFooter) dotted;
  border-radius: 4px;
  padding: 40px 0 0 0;
}

.cartFlex {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: space-between;
  flex-direction: column;
}
.cartFlexItem {
  flex: 1 0 auto;
  border-radius: 4px;
  min-width: 370px;
}
.checkoutFlex {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: space-between;
  flex-direction: column;
}
.checkoutFlexItem {
  flex: 1 0 auto;
  border-radius: 4px;
  min-width: 370px;
}

.productFlex {
  display: flex;
  width: 100%;
}

.productFlexItem {
  display: flex;
  background-color: #f2f2f237;
}

.productSiteFlexDirection {
  flex-direction: column;
}

.basicFlex {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.basicFlexVertical {
  flex-direction: column;
}

.basicFlexNoWrap {
  flex-wrap: nowrap;
}

.basicWidthTwenty {
  width: 20%;
}

.basicFlexItem {
  padding: 16px;
  flex: auto;
}

.basicFlexAlignTop {
  align-self: flex-start;
}

.basicFlexAlignEnd {
  align-self: flex-end;
}

.basicFlexAlignTopNext {
  justify-content: right;
}

.basicFlexAlignCenter {
  align-items: center;
}

.basicAlignBottom {
  align-items: bottom;
}

.basicFlexAlignBottom {
  align-content: flex-end;
}

.basicFlexJustifyContentRight {
  justify-content: right;
  text-align: right;
}

.basicFlexJustifyCenter {
  justify-content: center;
}

.basicFlexJustifyLeft {
  justify-content: left;
}

.basicGap {
  gap: 16px;
}

.contentFlex {
  display: flex;
  align-items: center;
}

.contentFlexPadding {
  padding: 40px 16px 16px 16px;
}

.cartFlexPadding {
  padding: 8px;
}

.cartBoxHeight {
  height: 50px;
}

.cartBoxBorder {
  padding-bottom: 8px;
  border-bottom: 4px var(--backgroundColorYes) solid;
}

.justFlex {
  display: flex;
}

.justWidth {
  width: 100%;
}

.justBottomBorder {
  border-bottom: 1px var(--backgroundColorYar) dotted;
}

.widthWideMode {
  width: 100%;
}

.productFlexDirection {
  flex-direction: column;
  align-items: flex-start;
}
.checkOutFlexDirection {
  flex-direction: column;
}

.checkoutSummaryBox {
  border: 1px var(--backgroundColorYar) dotted;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

.cartButtonFlex {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  flex-grow: auto;
  padding-top: var(--cartDetailPadding);
}

.cartButton {
  width: 3em;
  height: 3em;
  border: none;
  margin-left: 1px;
  border-radius: 4px;
  background-color: var(--backgroundColorGrey);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.checkOut {
  width: 100%;
  height: 50px;
  color: var(--backgroundColorFooter);
  text-decoration: none;
  text-justify: center;
}

.cartOut {
  width: 100%;
  height: 50px;
  color: var(--backgroundColorFooter);
  text-decoration: none;
  text-justify: center;
}

.addToCart {
  width: 100%;
  height: 50px;
  color: var(--backgroundColorFooter);
  text-decoration: none;
  text-justify: center;
}

.cartButton:hover {
  background-color: var(--linkHoverColor);
  color: var(--textColor);
}

.cartItem {
  padding: var(--cartDetailPadding) 0 var(--cartDetailPadding) 16px;
}

.cartPaddingGlobal {
  padding: 0 var(--globalMargin) 0 var(--globalMargin);
}

.cartBorder {
  border-bottom: 1px dotted;
}

.cartRadius {
  border-radius: 4px;
}

.cartSpaceBetween {
  justify-content: space-between;
}
.cartProgressBetween {
  justify-content: space-between;
  text-align: center;
}

.cartProgressBorder {
  border: 1px var(--backgroundColorYar) dotted;
}

.input {
  width: 50%;
  height: 2.5em;
  border-radius: none;
  border: none;
  background-color: var(--backgroundColorYes);
  padding-left: 4px;
  color: var(--textColor);
  border-bottom: var(--backgroundColorYass) 1px solid;
}

.input:focus {
  outline: none;
  border-bottom: var(--backgroundColorGrey) 1px solid;
}

.input:first-of-type {
  margin-right: 4px;
}
.input::placeholder {
  color: var(--backgroundColorYass);
}

.cardNumberInput {
  width: 100%;
}

.productInput {
  text-align: center;
  height: var(--productButtonSize);
  width: var(--productButtonSize);
  border-radius: none;
  background-color: var(--backgroundColorYes);
  color: var(--textColor);
  border: var(--backgroundColorYass) 1px solid;
  box-sizing: border-box;
  font-size: 1.5em;
}

.productButton {
  width: var(--productButtonSize);
  height: var(--productButtonSize);
  border-radius: none;
  padding: none;
  margin: none;
  background-color: var(--backgroundColorYes);
  color: var(--textColor);
  border: var(--backgroundColorYass) 1px solid;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 700;
  font-size: 1.5em;
}

.productButton:hover {
  background-color: var(--linkHoverColor);
  color: var(--textColor);
}

.productButton:focus {
  outline: none;
  border-bottom: var(--backgroundColorGrey) 1px solid;
}

.labelInput {
  width: 50%;
}

.labelInput:first-of-type {
  margin-right: 4px;
}

// Texts

a {
  color: var(--textColor);
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: var(--backgroundColorYass);
  text-decoration-skip-ink: none;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  text-decoration-thickness: 4px;
}

a.productSite {
  text-decoration-color: var(--backgroundColorDark);
}

a:hover {
  text-decoration-color: var(--linkHoverColor);
}

.basicCenterText {
  text-align: center;
}

.landingSection a {
  color: var(--backgroundColorDark);
}

.imageSaturation {
  filter: grayscale(100%) saturate(0%);
  transition: filter 0.5s ease 0.5s;
}

.imageSaturation:hover {
  filter: grayscale(0%) saturate(100%);
  transition-delay: 0s;
}

li {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.flowText {
  line-height: 1.5;
  font-weight: 200;
}

.subTitle {
  font-size: 1.5em;
}

.pTitle {
  font-size: 1.5em;
}

.description {
  font-size: 2em;
}

.prizeTitle {
  font-size: 3em;
}

.boldParagraph {
  font-weight: 700;
}

.superScript {
  vertical-align: top;
}

.rightPadding {
  padding-right: 8px;
  color: #59dc5b;
  filter: invert(96%) sepia(88%) saturate(1080%) hue-rotate(50deg)
    brightness(96%) contrast(79%);
}

.bottomGap {
  margin-bottom: var(--globalMargin);
}

.bottomGapHalf {
  margin-bottom: calc(var(--globalMargin) / 2);
}

.bottomPaddingHalf {
  padding-bottom: calc(var(--globalMargin) / 4);
}

.backProduct {
  background-color: var(--backgroundColorYes);
  margin-top: 16px;
  padding-bottom: 4px;
}

.backProductDark {
  background-color: var(--backgroundColorYass);
  padding: 16px 0 16px 0;
}

// .filterCartIcon {
//   filter: invert(94%) sepia(3%) saturate(1258%) hue-rotate(338deg)
//     brightness(99%) contrast(91%);
//   transition: filter 0.3s ease;
// }

// .filterCartIcon:hover {
//   filter: invert(55%) sepia(21%) saturate(4179%) hue-rotate(326deg)
//     brightness(99%) contrast(87%);
// }

h1,
h2 {
  padding-top: var(--globalMargin);
}

h3 {
  font-size: 1.5rem;
}

.landingTitle {
  font-size: 2.5em;
}

.positionTitle {
  position: relative;
  top: 65%;
  padding-left: var(--globalMargin);
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}

.topPadding {
  padding-top: var(--globalMargin);
}

footer {
  flex-shrink: 0;
  padding: var(--globalMargin);
  box-sizing: border-box;
  background-color: var(--backgroundColorFooter);
  width: 100%;
}

.productNav {
  font-weight: 200;
}

.productTitle {
  position: absolute;
  z-index: -1;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  z-index: -2;
}

.alignCenter {
  text-align: center;
}

@media (min-width: 701px) {
  .bodyWrap {
    width: 100%;
    align-items: center;
    flex-shrink: 0;
  }

  html {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    padding: 16px var(--wideModeMargin) 0 var(--wideModeMargin);
    position: fixed;
  }

  footer {
    padding: var(--globalMargin) var(--wideModeMargin) var(--globalMargin)
      var(--wideModeMargin);
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    margin-top: 160px;
  }

  .structureFlex {
    width: 100%;
    flex-shrink: 0;
  }

  .basicFlex {
    flex-shrink: 0;
  }

  .landingYesHoney {
    min-height: 1000px;
    max-height: none;
  }

  .widthWideMode {
    width: 60%;
  }

  .landingTitle {
    font-size: 5em;
  }

  .pTitle {
    font-size: 4em;
  }

  .prizeTitle {
    font-size: 4em;
  }

  .pSubTitle {
    font-size: 2em;
    text-decoration-thickness: 10px;
  }

  .checkOutFlexDirection {
    flex-direction: row-reverse;
    justify-content: left;
  }

  .checkoutSummaryBox {
    width: 40%;
    align-items: flex-start;
  }

  .checkOut {
    width: 50%;
  }

  .cartPaddingGlobal {
    padding: 0 var(--wideModeMargin) 0 var(--wideModeMargin);
  }

  .productFlexDirection {
    flex-direction: row;
  }

  .productFlex {
    width: 30%;
  }

  .productSiteFlexDirection {
    flex-direction: row;
  }

  .listFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    flex-direction: row;
  }
  .listFlexItem {
    /* Set styles for each flex item */
    /* For example: */
    flex: 1 0 auto;
    border: 1px var(--backgroundColorFooter) dotted;
    border-radius: 4px;
    max-width: 500px;
    padding: 40px 0 0 0;
  }
  .cartFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    flex-direction: row;
  }
  .cartFlexItem {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 40px 0 0 0;
    min-width: 370px;
  }
  .checkoutFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    flex-direction: row;
  }
  .checkoutFlexItem {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 40px 0 0 0;
    min-width: 370px;
  }

  .cartFlexPadding {
    padding: 32px 32px 32px 32px;
  }
  .cartListGrow {
    flex: 2 0 auto;
  }

  .listWidthPicture {
    width: 30%;
    min-width: 400px;
  }

  .listWidthBig {
    width: 30%;
    min-width: 300px;
  }
  .listWidthSmall {
    width: 20%;
  }

  .listStructureWidth {
    width: 100%;
  }

  .listMaxHeight {
    height: auto;
  }

  .cartBoxHeight {
    height: 100px;
  }

  .contentFlexPadding {
    padding: 40px 32px 32px 32px;
    box-sizing: border;
  }
}
