// imports

// variables

// -colors
:root {
  --backgroundColorBlue: #3b8ea5;
  --textColor: #f2e2d2;
}
// -values
// Background Elements

body {
  background-color: var(--backgroundColorBlue);
  color: var(--textColor);
}

// Middleground Elements

// Texts

p {
  font-size: 1rem;
  font-weight: 400;
}
