// imports

// variables

// -colors
:root {
  --backgroundColorBlue: #3b8ea5;
  --textColor: #f2e2d2;
  --backgroundColorYes: #317e94;
  --backgroundColorYass: #226d82;
  --backgroundColorYar: #195d70;
  --backgroundColorFooter: #0e3641;
  --backgroundColorGrey: #efefef;

  --landingSectionHeight: 800px;
  --globalMargin: 40px;
  --cartDetailPadding: 12px;
  --productButtonSize: 50px;

  --linkHoverColor: #ed6a5a;
}
// -values
// Background Elements

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColorBlue);
  color: var(--textColor);
  margin: 0;
  padding: 0;
}

.bodyWrap {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

form {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

header {
  margin: 40px;
}

.landingSection {
  width: 100%;
  height: var(--landingSectionHeight);
}

.landingYesHoney {
  background-color: var(--backgroundColorYes);
  background-image: url('/images/yesHoney.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  max-height: 700px;
  max-width: 100%;
  overflow: hidden;
  background-position: center;
}

.landingYesChillax {
  background-image: url('/images/yesChillax.png');
}

.landingYesRave {
  background-image: url('/images/yesRave.png');
}
.content {
  flex: 1;
}

// Middleground Elements

.structureFlex {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.basicFlex {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.basicFlexVertical {
  flex-direction: column;
}

.basicFlexNoWrap {
  flex-wrap: nowrap;
}

.basicWidthTwenty {
  width: 20%;
}

.basicFlexItem {
  padding: 16px;
  flex: auto;
}

.basicFlexAlignCenter {
  align-items: center;
}

.basicAlignBottom {
  align-items: bottom;
}

.basicFlexJustifyContentRight {
  justify-content: right;
  text-align: right;
}

.basicFlexJustifyCenter {
  justify-content: center;
}

.basicGap {
  gap: 16px;
}

.contentFlex {
  display: flex;
  align-items: center;
}

.justFlex {
  display: flex;
}

.justWidth {
  width: 100%;
}

.justBottomBorder {
  border-bottom: 1px var(--backgroundColorYar) dotted;
}

.widthWideMode {
  width: 100%;
}

.cartButtonFlex {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  flex-grow: auto;
  padding-top: var(--cartDetailPadding);
}

.cartButton {
  width: 3em;
  height: 3em;
  border: none;
  margin-left: 1px;
  border-radius: 4px;
  background-color: var(--backgroundColorGrey);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.checkOut {
  width: 100%;
  height: 50px;
  color: var(--backgroundColorFooter);
  text-decoration: none;
  text-justify: center;
}

.cartButton:hover {
  background-color: var(--linkHoverColor);
  color: var(--textColor);
}

.cartItem {
  padding: var(--cartDetailPadding) 0 var(--cartDetailPadding) 16px;
}

.cartPaddingGlobal {
  padding: 0 var(--globalMargin) 0 var(--globalMargin);
}

.cartBorder {
  border-bottom: 1px dotted;
}

.cartSpaceBetween {
  justify-content: space-between;
}

.input {
  width: 50%;
  height: 2.5em;
  border-radius: none;
  border: none;
  background-color: var(--backgroundColorYes);
  padding-left: 4px;
  color: var(--textColor);
  border-bottom: var(--backgroundColorYass) 1px solid;
}

.input:focus {
  outline: none;
  border-bottom: var(--backgroundColorGrey) 1px solid;
}

.input:first-of-type {
  margin-right: 4px;
}
.input::placeholder {
  color: var(--backgroundColorYass);
}

.cardNumberInput {
  width: 100%;
}

.productInput {
  text-align: center;
  height: var(--productButtonSize);
  width: var(--productButtonSize);
  border-radius: none;
  background-color: var(--backgroundColorYes);
  color: var(--textColor);
  border: var(--backgroundColorYass) 1px solid;
  box-sizing: border-box;
}

.productButton {
  width: var(--productButtonSize);
  height: var(--productButtonSize);
  border-radius: none;
  padding: none;
  margin: none;
  background-color: var(--backgroundColorYes);
  color: var(--textColor);
  border: var(--backgroundColorYass) 1px solid;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 700;
}

.productButton:hover {
  background-color: var(--linkHoverColor);
  color: var(--textColor);
}

.productButton:focus {
  outline: none;
  border-bottom: var(--backgroundColorGrey) 1px solid;
}

.labelInput {
  width: 50%;
}

.labelInput:first-of-type {
  margin-right: 4px;
}

// Texts

a {
  color: var(--backgroundColorFooter);
  z-index: 1;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

li {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.flowText {
  line-height: 1.5;
  font-weight: 200;
}

.pTitle {
  font-size: 1.5em;
}

.boldParagraph {
  font-weight: 700;
}

.superScript {
  vertical-align: top;
}

.bottomGap {
  margin-bottom: var(--globalMargin);
}

.bottomGapHalf {
  margin-bottom: calc(var(--globalMargin) / 2);
}

.bottomPaddingHalf {
  padding-bottom: calc(var(--globalMargin) / 4);
}

h1,
h2 {
  padding-top: var(--globalMargin);
}

h3 {
  font-size: 1.5rem;
}

.landingTitle {
  font-size: 2.5em;
}

.positionTitle {
  position: relative;
  top: 65%;
  padding-left: var(--globalMargin);
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.topPadding {
  padding-top: var(--globalMargin);
}

footer {
  flex-shrink: 0;
  padding: var(--globalMargin);
  box-sizing: border-box;
  background-color: var(--backgroundColorFooter);
}

.productNav {
  font-weight: 200;
}

.productTitle {
  position: absolute;
  z-index: -1;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  z-index: -2;
}

.alignCenter {
  text-align: center;
}

@media (min-width: 701px) {
  .bodyWrap {
    width: 100%;
    align-items: center;
    flex-shrink: 0;
  }

  html {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 var(--globalMargin) 0 var(--globalMargin);
  }

  .content {
    width: 100%;
  }

  .structureFlex {
    width: 100%;
    flex-shrink: 0;
  }

  .basicFlex {
    flex-shrink: 0;
  }

  footer {
    width: 100%;
  }

  .landingYesHoney {
    min-height: 1000px;
    max-height: none;
  }

  .widthWideMode {
    width: 1000px;
  }
}
